# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Firebase
.firebase
firebase-debug.log
firebase-debug.*.log
*.local

# dependencies
/node_modules
/.pnp
.pnp.js
/functions/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
!.env.sample
/functions/.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# PayPal SDK
paypal-checkout.js

# Sensitive files & Outputs
*.log
*secret*.json
*private_key*.json
*service_account*.json
autonest-vn4w5-firebase-adminsdk-fbsvc-96861eb71c.json # Explicitly ignore this specific service account key
*.p12
*.key
*.sublime-project
*.sublime-workspace
