
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*
*-debug.log

# local env files
.env.local
.env*.local
.env

# Log files
*.log
logs
*.log.*

# Firebase
*service_account*.json
*.firebase_secret.json
autonest-vn4w5-firebase-adminsdk-fbsvc-96861eb71c.json

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.AppleDouble
.LSOverride

# Output files
dist
dist-ssr
*.patch
/functions/lib
/functions/node_modules
/functions/.env
